<a href="http://localhost/project1/lms-front-end/admin/category_form/edit_category/1" class="btn btn-icon btn-outline-info btn-sm" id="category-edit-btn-1" style="">
                        <i class="mdi mdi-wrench"></i> Edit                    </a>
                        <a href="#" class="btn btn-icon btn-outline-danger btn-sm" id="category-delete-btn-1" style="float: right;" onclick="confirm_modal('http://localhost/project1/lms-front-end/admin/categories/delete/1');">
                            <i class="mdi mdi-delete"></i> Delete                    </a>