@import "global-style.css";
.navbar-custom .visit_website .btn-outline-light {
    border: 1px solid var(--main-color--) !important;
    border-radius: 8px;
    padding: 4px 16px !important;
    
}
.navbar-custom .visit_website a {
    font-family: var(--main-font--);
    font-size: .9rem;
    font-weight: 300;
    line-height: 27px;   
    color: var(--main-color--);
}
.navbar-custom .topbar-right-menu .nav-link {
    color: var(--main-color--);
    min-width: 20px;
    display: block;
    text-align: center;
    margin: 0 10px;
}